header{
	height: 1024px;
	background-image: url(../img/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	div.overlay{
		@include background-opacity(#555556, 0.3);
		height: 100%;
		nav{
			height: 139px;
		}
	}

}